
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#SearchFormDiv {
    padding-left: 15%;
    padding-right: 15%;
}

#SearchFormDiv form input {
    float: right;
    text-align:right;
    padding-right:5px;
}

.error {
    color: RGB(255,100,100);
}

#TipsDiv {
    border-left: solid 1px RGB(220,220,220);
}

h2 {
    text-align: center;
}

#ResultsDiv {

}

.ResultsMessage {
    text-align: center;
}

table {
    table-layout:fixed;
    width:100% !important;
}

th {
    text-align:center;
}

td,th {
    padding:5px;
    word-wrap:break-word;
    
}

.RankColumn {
    width: 5% !important;
    text-align:center;
}

.TitleColumn {
    width: 40% !important;
}

.URLColumn {
    width: 50% !important;
}

