@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Contact details</h3>

<address>
    <strong>Email</strong> <a href="thomas.brook@btinternet.com">thomas.brook@btinternet.com</a><br />
    <strong>Phone:</strong> <span>07813778514</span>
</address>
