@{
    ViewData["Title"] = "Home Page";
}
<div id="wrapper">
    <div id="SearchFormContainer">
        <h2>Enter Search Terms</h2>
        <br />
        <form id="SearchForm" asp-controller="Home" asp-action="Index" method="get">
            <span>Search Terms: </span><input type="text" id="SearchTermsField" class="TextField" name="searchTerms" />
            <br /><br />
            <span>Target URL: </span><input type="text" id="TargetURLField" class="TextField" name="targetURL" />
            <br /><br />
            <input type="submit" id="FormSubmit" value="Go" />
        </form>
        <br />
    </div>
    <div id="ResultsContainer">
        <h2>Ranking</h2>
        @if (ViewData["Results"] != null)
         {
        <table id="RankingTable">
            <thead>Rank</thead>
            <thead>Title</thead>
            <thead>URL</thead>
            @foreach (Result result in (Result[])ViewData["Results"])
             {
            <tr>
                <td>@result.rank</td>
                <td>@result.title</td>
                <td>@result.url</td>
            </tr>
            }
        </table>
        } else 
        {
        <br />
        <h5>Enter a query to see it's search rankings</h5>
        }
        
    </div>
</div>